# Files/folders generated after a project build/configuration
Images/
Toolchain/CrossCompiler/
Build*/
build*/
bin/
Project/
Scripts/vhc
cmake-build-*/
Ports/UltraDOOM
Ports/ports_list.txt
Root*/

# Everything tests related
Tests/Environment/*
!Tests/Environment/Common/Atomic.h
!Tests/Environment/Common/Lock.h
!Tests/Environment/Common/Logger.h
!Tests/Environment/Common/Macros.h
!Tests/Environment/Common/InitializerList.h
!Tests/Environment/Core/Runtime.h
!Tests/Environment/Memory/MemoryManager.h
!Tests/Environment/Drivers/Video/.keep
!Tests/Environment/FileSystem/FAT32/.keep
!Tests/Environment/LibC/.keep

# Misc files/extensions that we always ignore
.idea/
*.o
*.bin
*.cxxflags
*.cflags
*.config
*.creator
*.files
*.includes
*.creator.user
*.creator.user.*
*log*.txt
.DS_Store
